.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  @media screen and (max-width: 400px) {
    max-width: 100vw;
    justify-content: flex-start;
  }
  @media screen and (max-width: 766px) {
    max-width: 326px;
    justify-content: flex-start;
  }
}
.menu-button {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: #212121;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition: color var(--time) var(--timing),
    background-color var(--time) var(--timing),
    box-shadow var(--time) var(--timing);
}
.all-btn {
  padding: 6px 25px;
}
.menu-button {
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
