.foot-wrap {
  margin-left: 70px;
  margin-right: 93px;
}
.link-msg-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #ffffff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--time) var(--timing),
    background-color var(--time) var(--timing);
}
.link-msg-foot {
  &:hover,
  &:focus {
    background-color: var(--color);
    color: #ffffff;
  }
}
