.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background-color: #2f303a;
}
footer {
  h2 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
.foot {
  display: flex;
  align-items: baseline;
}
.logo-foot {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}
