.customer-section__title {
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.customer-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.customer-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--time) var(--timing);
  @media screen and (max-width: 767px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.customer-list__link {
  &:focus,
  &:hover {
    color: var(--color);
    border: 1px solid var(--color);
  }
}
.customer-list__icon {
  fill: currentColor;
}
