.customer-section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.customer-list {
  display: flex;
  gap: 30px;
}
.customer-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--time) var(--timing);
}
.customer-list__link {
  &:focus,
  &:hover {
    color: var(--color);
    border: 1px solid var(--color);
  }
}
.customer-list__icon {
  fill: currentColor;
}
