.team {
  text-align: center;
  background: #f5f4fa;
}
.team-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.6667;
  }
}
.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.team-item {
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  @media screen and (max-width: 767px) {
    width: 450px;
    margin-left: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.specialization {
  margin-top: 10px;
  margin-bottom: 16px;
  line-height: 1.9;
  color: #757575;
}
.msg {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.link-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #afb1b8;
  border-radius: 25px;
  transition: color var(--time) var(--timing),
    background-color var(--time) var(--timing);
}
.msg-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.link-msg {
  &:hover,
  &:focus {
    background-color: var(--color);
    color: #ffffff;
  }
}
.team-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
